*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
.home{
    background-image: url(../img/477973067.jpg);
    background-size: cover;
    background-position: center;
}
.card{
    border: none;
    outline: none;
    box-shadow: 0 0 10px  darkgray;
}
.card p{
    color: gray;
}
.circle{
    height: 70px;
    width: 70px;
    background-color: lightgray;
    color: black;
    padding: 12px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
    border-radius: 50%;
}
.card:hover .circle{
    background-color:rgba(243, 22, 22, 0.747);
    color: white;
    transition: 1s;
}
.profile {
    margin-top: 25px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.img-box::after{
   content: '';
   opacity: 0;
   background-color:rgba(128, 0, 0, 0.705);
   position: absolute;
   right: 0;
   left: 0;
   top: 0;
   bottom: 0;
}
.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    width: 30px;
    height: 30px;
    /* border: 1px solid rgb(70, 61, 61); */
    border-radius: 50%;
    margin: 3px;
    padding: 3px;
    display: inline-block;
}
.img-box a{
    color:white;
}
.img-box:hover::after{
    opacity: 1;

}
.img-box:hover ul{
    opacity: 1;
}
.img-box a:hover li{
    color:rgb(20, 20, 20);
    border: 1px solid red;
}
.img-box::after,.img-box ul,.img-box ul li{
  transition: all 0.5s ease-in-out 0s;
}